<h1> <%= user_course.course.name %></h1>

 <div class="toggle-btn_user_index" >
        <span></span>
  </div>
  <img class="logo_user_index" src="https://res.cloudinary.com/ds35idgfw/image/upload/v1587384560/logo2_kuav00.png" alt="">
  <div class="my-nav">
    <%= cl_image_tag current_user.photo.key, class:'avatar'%>
    <%= link_to "Les parcours", courses_path %>
    <%= link_to "Mes parcours", user_courses_path %>
    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete%>
    <a href="">Envoyez nous vos retours</a>
  </div>

  <p><%= @step.question%></p>

  <%= :quiz_answer%>
  <%= @step["answer_#{@step.correct_answer}"]%>

  <p><%= @step.question%></p>

    <%= :quiz_answer%>
    <%= @step["answer_#{@step.correct_answer}"]%>

  <p><%= @step.question%></p>

    <%= :quiz_answer%>
    <%= @step["answer_#{@step.correct_answer}"]%>

  <p><%= @step.question%></p>

    <%= :quiz_answer%>
    <%= @step["answer_#{@step.correct_answer}"]%>
