<div class="wrapper_quiz">

<p class= "step-name_quiz"> <%= @user_course.course.name %></p>

    <%= render 'shared/menu_burger' %>

  <div class= "answer_wrapper ">
    <% @user_course.user_steps.each do |user_step| %>
      <div class= "text-center mx-auto w-90 pt-5"><p class="user_step_question"><%= user_step.step.question%></p>
        <%if user_step.quiz_answer == user_step.step["answer_#{user_step.step.correct_answer}".to_sym]%>
          <p class= "baseline_answer">Bravo ! Vous avez répondu</p>
          <span class= "correct_answer"><i class="fas fa-check mr-2"></i><%= user_step.step["answer_#{user_step.step.correct_answer}".to_sym] %></span>
        <%else%>
          <p class= "baseline_answer wrong_answer">Dommage ! Vous avez répondu</p>
          <span class= "user_answer"><i class="fas fa-times mr-2"></i><%= user_step.quiz_answer %></span>
          <p class= "baseline_answer pt-3">La réponse était</p>
          <span class= "correct_answer"><%= user_step.step["answer_#{user_step.step.correct_answer}".to_sym] %></span>
        <%end%>
      </div>
    <%end%>
  </div>
</div>

