<div class="step-container">
  <div class="siema">
    <% @descriptions.each do |description| %>
      <div class="slide" id="slide-<%= description.position %>">
        <%#= cl_image_tag description.photo.key %>
        <div class="step-title">
          <div class="current-step">
            <p>Etape <%= @step.position %></p>
          </div>
          <div class="step-name">
            <p><%= @megalith.name %></p>
          </div>
        </div>
        <div class="content" >
          <div>
          </div>
          <div>
            <%= description.content %>
          </div>
        </div>
        <div class="controls">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>
    <% end %>
  <%= link_to "Etape suivante", steps_show_path, class:"button-home" %>
  </div>
</div>
