<div class="step-container">

  <div class="step-control-container">
    <div class="title-step">
    <div class="title">
      <div class="current-step">
      <span class="letters current-step">
      Etape <%= @step.position %>
      </span>
      </div>
      <div class="step-name">
        <p><%= @megalith.name %></p>
      </div>
    </div>
    </div>
    <div class="controls">
      <!-- à faire : pour chaque slide insérer un dot -->
      <div class="circle" id="circle-0"></div>
      <div class="circle" id="circle-1"></div>
      <div class="circle" id="circle-2"></div>
      <div class="circle" id="circle-3"></div>
      <div class="circle" id="circle-4"></div>
    </div>
  </div>


  <%= simple_form_for @user_step do |f| %>
  <div class="siema">
    <% @descriptions.sort_by{ |description| description.position }.each do |description| %>
    <div class="slide" id="slide-<%= description.position %>" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(<%= cl_image_path description.photo.key %>);">
      <div class="content">
        <%= description.content %>
      </div>
    </div>
    <% end %>
    <div class="slide-quiz" id="slide-quiz">
      <h4 class="ask" > <%= @step.question%> </h4>
        <%= f.input :quiz_answer,label: "", as: :radio_buttons, collection: [@step.answer_1, @step.answer_2, @step.answer_3, @step.answer_4] %>
      <button class=" btn-primary buttonquizz" id="toggle-answer"> Voir la réponse </button>
    </div>
  </div>
  <div class="hidden" id="explanations">
    <p>This is quiz explanations !</p>

    <div class="right-answer" data-answer="<%= @step["answer_#{@step.correct_answer}".to_sym] %>">
    </div>

    <p> <%= @quiz_answer %> </p>
    <p> <%= @step.explanations %> </p>
      <%= f.submit "Validez votre étape", class: "buttonquizz hidden no-deco", id: "submit-quiz" %>
  </div>
  <% end %>
</div>
