<div class="step-container">

  <div class="step-control-container">
    <div class="title-step">
    <div class="title">
      <div class="current-step">
      <span class="letters current-step">
      Etape <%= @step.position %>
      </span>
      </div>
      <div class="step-name">
        <p><%= @megalith.name %></p>
      </div>
    </div>
    </div>
    <div class="controls">
      <!-- à faire : pour chaque slide insérer un dot -->
      <div class="circle" id="circle-0"></div>
      <div class="circle" id="circle-1"></div>
      <div class="circle" id="circle-2"></div>
      <div class="circle" id="circle-3"></div>
      <div class="circle" id="circle-4"></div>
  </div>

      <div>
        <%= submit_tag "", class:'button-eye-step' %>
        <!-- <img class="eye-step-btn"src= "http://download.seaicons.com/icons/custom-icon-design/mono-general-4/24/eye-icon.png"> -->
      </div>
    </div>

  <%= simple_form_for @user_step do |f| %>
  <div class="siema">

    <% @descriptions.sort_by{ |description| description.position }.each do |description| %>
        <img src="<%= cl_image_path description.photo.key %>" alt="" class="display-img">
    <% end %>

    <% @descriptions.sort_by{ |description| description.position }.each do |description| %>
    <div class="slide" id="slide-<%= description.position %>" style="background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(<%= cl_image_path description.photo.key %>);">
      <div class="content">
        <%= description.content %>
      </div>
    </div>
    <% end %>
    <div class="slide-quiz step-name-slide " id="slide-quiz">

     <h4 class="ask" ><%= @step.question%></h4>
        <div class="content-answer js-quiz-answer-wrapper">
          <%= label_tag "quiz-answer-#{@step.answer_1.parameterize}", @step.answer_1, class: 'answer js-quiz-label' %>
          <%= f.radio_button :quiz_answer, @step.answer_1, id: "quiz-answer-#{@step.answer_1.parameterize}", class: 'js-quiz-answer-radio d-none' %>
        </div>

        <div class="content-answer js-quiz-answer-wrapper">
          <%= label_tag "quiz-answer-#{@step.answer_2.parameterize}", @step.answer_2, class: 'answer js-quiz-label' %>
          <%= f.radio_button :quiz_answer, @step.answer_2, id: "quiz-answer-#{@step.answer_2.parameterize}", class: 'js-quiz-answer-radio d-none' %>
        </div>

        <div class="content-answer js-quiz-answer-wrapper">
          <%= label_tag "quiz-answer-#{@step.answer_3.parameterize}", @step.answer_3, class: 'answer js-quiz-label' %>
          <%= f.radio_button :quiz_answer, @step.answer_3, id: "quiz-answer-#{@step.answer_3.parameterize}", class: 'js-quiz-answer-radio d-none' %>
        </div>

        <div class="content-answer js-quiz-answer-wrapper">
          <%= label_tag "quiz-answer-#{@step.answer_4.parameterize}", @step.answer_4, class: 'answer js-quiz-label' %>
          <%= f.radio_button :quiz_answer, @step.answer_4, id: "quiz-answer-#{@step.answer_4.parameterize}", class: 'js-quiz-answer-radio d-none' %>
        </div>

      <button class=" buttonquizz" id="toggle-answer"> Soumettre la réponse </button>
    </div>
  </div>>
  <div class="hidden" id="explanations">
    <p>  </p>
    <p>  </p>
    <p>  </p>

    <div class="right-answer" data-answer="<%= @step["answer_#{@step.correct_answer}".to_sym] %>">
    </div>

    <p> <%= @step.explanations %> </p>
      <%= f.submit "Passer à l'étape suivante", class: "buttonquizz hidden no-deco", id: "submit-quiz" %>
  </div>
  <% end %>
</div>
