<div class="global">
  <h2 class= "title-index">Découvrez des <br>megalithes près de<br> chez vous</h2>

 <%= render 'shared/menu_burger' %>

  <div class="test">
    <div id="map-index"
           style="width: 100vw; height: 50vh;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
           data-longitude="<%= @user_search.last %>"
           data-latitude="<%= @user_search.first %>"
           >
    </div>
    <!-- <div class="recherche">
        <input class="search" type="search" placeholder="Rechercher...">
        <button type="button" class="btn-map"><img class="eye-map-btn"src= "http://download.seaicons.com/icons/custom-icon-design/mono-general-4/24/eye-icon.png"></button>
    </div> -->

  </div>
      <div class= "search_form">
        <%= form_tag courses_path, method: :get, :class => 'form-group' do %>
          <%= text_field_tag :query,
            params[:query],
            class: "search form-control",
          placeholder: "Rechercher par ville"
          %>
            <%= submit_tag "", class:'button-map' %>
          <div class= "search_button" >
            <i class="fas fa-search"></i>
          </div>
        <% end %>
      </div>


<div class= "populaire mt-5">
  <h3>Parcours près de chez vous</h3>
  <div class= "mieux-note">
    <% @courses.each do |course| %>
      <%= link_to course_path(course) do %>
        <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.7)), url(<%= cl_image_path course.photo.key %>)">
          <p class="card-course-etape ml-2"><%= course.steps.count %> étapes</p>
          <div class="card-course-main">
            <p class="card-course-name mr-2 pt-5"><%= course.name %></p>
            <div class="card-course-rating">
              <p><% course.rating.to_i.times do %>
                 <i class="fas fa-star"></i>
                <% end %>
                <% (5 - course.rating.to_i).times do %>
                 <i class="far fa-star"></i>
                <% end %>
              </p>
            </div>
            <p class="card-course-description"><%= course.description%></p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="card-course-duration ml-2"><i class="far fa-clock mb-2"></i><br><%= (course.duration_in_minutes.round(0) / 60) %>h<%= (course.duration_in_minutes.round(0) % 60) %></p>
            <p class="card-course-duration mr-1"><i class="fas fa-walking mb-2"></i><br><%= course.distance_in_kilometers %> km</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class= "populaire ">
  <h3>Parcours les mieux notés</h3>
  <div class= "mieux-note">
    <% @top_courses.each do |course| %>
      <%= link_to course_path(course) do %>
        <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.7)), url(<%= cl_image_path course.photo.key %>)">
          <p class="card-course-etape ml-2"><%= course.steps.count %> étapes</p>
          <div class="card-course-main">
            <p class="card-course-name mr-2 pt-5"><%= course.name %></p>
            <div class="card-course-rating">
              <p><% course.rating.to_i.times do %>
                 <i class="fas fa-star"></i>
                <% end %>
                <% (5 - course.rating.to_i).times do %>
                 <i class="far fa-star"></i>
                <% end %>
              </p>
            </div>
            <p class="card-course-description"><%= course.description%></p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="card-course-duration ml-2"><i class="far fa-clock mb-2"></i><br><%= (course.duration_in_minutes.round(0) / 60) %>h<%= (course.duration_in_minutes.round(0) % 60) %></p>
            <p class="card-course-duration mr-1"><i class="fas fa-walking mb-2"></i><br><%= course.distance_in_kilometers %> km</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
      <div class="animate">
        <img src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1587380093/triskel_gouoqk.png" alt="">
      </div>
      <div class="animate2">
        <img class="testload" src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1587380093/load_bobnpm.png
" alt="">
      </div>

</div>

