<h2 class= "title-index">Découvrez des <br>megalithes près de<br> chez vous</h2>

<div class="toggle-btn" >
    <span></span>

</div>
<div class="my-nav">
  <a href="" class="logo">Avatar</a>
  <a href="">Setting</a>
  <a href="">Sign out</a>
  <a href="">Mes courses</a>
  <a href="">Explore</a>
  <a href="">Send us feedback</a>
</div>

<div class="test">
  <div id="map-index"
         style="width: 100vw; height: 50vh;"
         data-markers="<%= @markers.to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <!-- <div class="recherche">
      <input class="search" type="search" placeholder="Rechercher...">
      <button type="button" class="btn-map"><img class="eye-map-btn"src= "http://download.seaicons.com/icons/custom-icon-design/mono-general-4/24/eye-icon.png"></button>
  </div> -->
</div>



<div class= "populaire">
  <h3>Les mieux notés</h3>
  <div class= "mieux-note">
    <% @courses.each do |course| %>
      <%= link_to course_path(course) do %>
        <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.7)), url(<%= cl_image_path course.photo.key %>)">
          <p class="card-course-etape"><%= course.steps.count %> étapes</p>
          <div class="card-course-main">
            <p class="card-course-name pt-5"><%= course.name %></p>
            <p class="card-course-description"><%= course.description%></p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="card-course-duration ml-2"><%= course.duration_in_minutes %> min</p>
            <p class="card-course-duration ml-2"><%= course.distance_in_kilometers %> km</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class= "populaire pt-4">
  <h3>Près de chez vous</h3>
  <div class= "mieux-note">
    <% @courses.each do |course| %>
      <%= link_to course_path(course) do %>
        <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= cl_image_path course.photo.key %>)">
          <p class="card-course-etape"><%= course.steps.count %> étapes</p>
          <div class="card-course-main">
            <p class="card-course-name pt-5"><%= course.name %></p>
            <p class="card-course-description"><%= course.description%></p>
          </div>
          <div class="d-flex justify-content-between">
            <p class="card-course-duration ml-2"><%= course.duration_in_minutes %> min</p>
            <p class="card-course-duration ml-2"><%= course.duration_in_minutes %> min</p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
