<div class="back-grey-show">
  <div class="header-show">
    <h2><%= @course.name %> </h2>
    <p><%= (@course.duration_in_minutes) /60 %> h </p>
  </div>
  <div id="map"
       style="width: 100vw; height: 35vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div class="content-show">
    <h3>Descriptif de l'etape</h3>
    <p><%= @course.description %> </p>
  </div>
</div>

<div class="cards-step">
  <% @steps.each do |step| %>
  <div class="link-between-step"></div>
   <p class="etape-number pt-2"> étape <%= step.position %> </p>
    <%= link_to(@course) do %>

      <div class="card-step" style="background-image: linear-gradient(rgba(100,100,100,0.6), rgba(100,100,100,0.6)), url(<%= cl_image_path @course.photo.key, height: 300, width: 400, crop: :fill %>)">

        <p> <%= step.megalith.name %> </p>
        <div class="infos pt-1">
          <p>800 m</p>
          <p>14 min</p>
        </div>
      </div>
    <% end %>

  <% end %>
</div>

