<div class="back-grey-show">
  <div class="header-show">
    <h2><%= @course.name %> </h2>
    <div class="details-show">

      <p class="card-course-duration-show ml-2"><i class="far fa-clock mb-1"></i><br><%= (@course.duration_in_minutes.round(0) / 60) %>h<%= (@course.duration_in_minutes.round(0) % 60) %></p>
      <div class="card-course-rating show">
        <p class="stars"><% @course.rating.to_i.times do %>
           <i class="fas fa-star"></i>
          <% end %>
          <% (5 - @course.rating.to_i).times do %>
           <i class="far fa-star"></i>
          <% end %>
        </p>
        <div class="reviews-list">
         <p>voir les avis</p>
        </div>
      </div>
      <div class="reviews-display">
          <h2>Commentaires</h2>
          <div class="reviews-show">
            <div class="reviews-com">
            <div class="reviews-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
              <img src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1587591086/46_jvrhvx.jpg" alt=""class="avatar">
              <p class="reviews-com-content">au top ! finit le confinement place au ballade ;)</p>
              <p class="reviews-com-date">11.10.2020</p>
            </div>
            <div class="reviews-border"></div>
          </div>
          <div class="reviews-show">
            <div class="reviews-com">
            <div class="reviews-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
              <img src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1587591086/63_bgkman.jpg" alt=""class="avatar">
              <p class="reviews-com-content">Merci Megaleetic, gràce à vous j'ai passé un très bon moments avec ma famille a carnac.</p>
              <p class="reviews-com-date">28.02.2020</p>
            </div>
            <div class="reviews-border"></div>
          </div>
          <div class="reviews-show">
            <div class="reviews-com">
            <div class="reviews-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
              <img src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1587591087/a2awzVm_mc97wl.jpg" alt=""class="avatar">
              <p class="reviews-com-content">Belle suprise, merci de nous faire découvrir notre regions..</p>
              <p class="reviews-com-date">14.10.2019</p>
            </div>
            <div class="reviews-border"></div>
          </div>
          <div class="reviews-show">
            <div class="reviews-com">
            <div class="reviews-stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>

            </div>
              <img src="https://res.cloudinary.com/dc9pm7uj8/image/upload/v1587591087/ZI45jIW_i4lu2d.jpg" alt=""class="avatar">
              <p class="reviews-com-content">Superbe aprem hâte de découvrir les nouveaux parcours.</p>
              <p class="reviews-com-date">06.09.2019</p>
            </div>
            <div class="reviews-border"></div>
          </div>


      </div>
      <p class="card-course-duration-show ml-2"><i class="fas fa-walking mb-1"></i><br><%= @course.distance_in_kilometers %> km</p>

    </div>


  </div>
  <div class="toggle-btn" >
    <span></span>

  </div>
  <div class="my-nav">
    <%= cl_image_tag current_user.photo.key, class:'avatar'%>
    <%= link_to "Les parcours", courses_path %>
    <%= link_to "Mes parcours", user_courses_path %>
    <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete%>
    <a href="">Envoyer nous vos retours</a>
  </div>
  <div id="map"
       style="width: 100vw; height: 35vh;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <div id="contentshow">
    <h3>Descriptif de l'étape</h3>
    <p><%= @course.description %> </p>
  </div>


    <% @steps.each_with_index do |step, index| %>
      <div class="bla" id="description-step-<%= index %>">
        <h3>Itinéraire à suivre</h3>
        <p> <%= step.access_description %> </p>
      </div>
    <% end %>
</div>

<div class="cards-step ">
  <% @steps.each_with_index do |step, index| %>
  <div class="link-between-step"></div>
   <p class="etape-number pt-2"> étape <%= step.position %> </p>
    <%= link_to course_step_path(@course, step), class: 'no-deco' do %>

      <div class="card-step active" data-image="<%= cl_image_path @course.photo.key, height: 300, width: 400, crop: :fill %>" id="cardstep-<%= index %>" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(<%= cl_image_path @course.photo.key, height: 300, width: 400, crop: :fill %>)">

        <p> <%= step.megalith.name %> </p>
        <div class="infos pt-1">
          <p><%= step.duration_in_minutes %> min</p>
          <p><%= step.distance_in_kilometers %> km</p>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>


</div>

